.download {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;

  background-color: #1d2631;
}

.download__list {
  .ls-reset();
}

.download__button {
  display: block;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;

  border: solid 3px #ffffff;
  border-radius: 5px;

  &:hover {
    color: @pink-color;

    background-color: #ffffff;
  }

  &:active {
    color: @pink-active-color;
    background-color: #ffffff;
  }
}
