.ls-reset() {
  margin: 0;
  padding: 0;

  list-style: none;
}

.form-buttons() {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;

  background-color: #2aab6d;
  border: none;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
