.page-header {
  background-color: @base-color;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-header__button {
  padding: 0;

  color: #ffffff;

  background-color: transparent;
  border: none;
}
