.page-title {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-title__container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 170px; /*временно для сетки*/
}

.page-title__text {
  padding: 0;
  margin: 0;

  font-size: 24px;
  color: #b83030;
  text-align: center;
  font-weight: 300;
}

@media (min-width: @tablet-width) {
  .page-title__container {
    width: 620px;
    padding: 0 20px;
    min-height: 330px; /*временно для сетки*/
  }
}

@media (min-width: @desktop-width) {
  .page-title__container {
    width: 940px;
    padding: 0 10px;
    min-height: 284px; /*временно для сетки*/
  }
}
