.prices {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.prices__name {
  font-weight: 700;

  background-color: @base-color;
}

.prices__count {
  font-weight: 300;
  font-size: 24px;
}

.prices__specification {
  color: @base-color;
  font-size: 14px;
}
