.site-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: @base-color;
}

.site-list__item {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: @pink-color;
  }

  &:active {
    color: @pink-active-color;
  }
}
