.user-trips {
  background-color: #f2f2f2;
  border: none;
}

.user-trips__legend {
  font-size: 14px;
  line-height: 30px;
  color: @pink-color;
  text-align: center;
  text-transform: uppercase;
}

.user-trips__list {
  .ls-reset();
}

.user-trips__label {
  font-size: 18px;
  line-height: 30px;
  color: @base-color;
}
