.user-trips {
  order: 4;
  padding: 0;

  background-color: #f2f2f2;
  border: none;
}

.user-trips__container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.user-trips__legend {
  font-size: 14px;
  line-height: 30px;
  color: @pink-color;
  text-align: center;
  text-transform: uppercase;
}

.user-trips__list {
  .ls-reset();
}

.user-trips__label {
  font-size: 18px;
  line-height: 30px;
  color: @base-color;
}

@media (min-width: @tablet-width) {
  .user-trips {
    background-color: #ffffff;
  }

  .user-trips__container {
    width: 620px;
    padding: 0 20px;
  }
}
